.photo-grid {
  margin: 92px 48px 92px 48px;
  width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));

  gap: 14px;
}
@media (max-width: 1024px) {
  .photo-grid {
    margin-left: 24px;
    width: 928px;
  }
}
@media (max-width: 768px) {
  .photo-grid {
    margin-left: 24px;
    width: 720px;

    gap: 16px;
  }
}
@media (max-width: 320px) {
  .photo-grid {
    width: 288px;

    gap: 12px;

    height: 100%;
    margin-left: 16px;
  }
}
