.place__website {
  margin: auto auto 48px;
  padding: 0px;
  width: 456px;
}
@media (max-width: 768px) {
  .place__website {
    width: 352px;

    margin-top: 46px;
  }
}
@media (max-width: 320px) {
  .place__website {
    width: 288px;

    margin: 32px 16px;
  }
}
