.place {
  margin: 0 0 80px 0;
  padding: 0px;
  width: 984px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .place {
    width: 928px;
  }
}
@media (max-width: 768px) {
  .place {
    width: 720px;
    margin-bottom: 72px;
  }
}

@media (max-width: 320px) {
  .place {
    width: 320px;
    margin-bottom: 50px;
    display: block;
  }
}
