.lead {
  max-width: 984px;
  align-content: center;
  margin: auto;

  margin-bottom: 92px;
}
@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
@media (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin-bottom: 88px;
  }
}
@media (max-width: 320px) {
  .lead {
    max-width: 320px;
    margin-bottom: 64px;
  }
}
