.header__logo {
  min-width: 176px;
  min-height: 52px;
  background-image: url(../../../images/__logo.svg);
  background-size: cover;

  margin: 0px;
  padding: 0%;
}

@media (max-width: 767px) {
  .header__logo {
    min-width: 142px;
    min-height: 42px;
  }
}
