.lead__title {
  margin: auto;
  padding: 0 0 32px;
  max-width: 720px;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #ffffff;
  align-content: center;
}
@media (max-width: 769px) {
  .lead__title {
    padding: 0 0 16px;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
@media (max-width: 767px) {
  .lead__title {
    padding: 0 0 16px;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
