.footer__copyright {
  display: block;
  margin: 0;
  width: 186px;
  height: 16px;
  padding: 0%;
  font-family: "Inter", "arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #ffffff;
}
