.lead__image-vector {
  width: 883.76px;
  height: 248.02px;
  margin: 86px 22px 247px;
}
@media (min-width: 1280px) {
  .lead__image-vector {
    width: 937.09px;
    height: 262.99px;
  }
}
@media (max-width: 768px) {
  .lead__image-vector {
    max-width: 731.38px;
    height: 205.26px;
    margin-left: 18px;
    margin-right: 18px;
  }
}
@media (max-width: 320px) {
  .lead__image-vector {
    width: 304.74px;
    height: 85.53px;
    margin: 29px 7px 85px;
  }
}
