.place__website-url-heading {
  height: 12px;
  margin: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  border: red 1px solid;

  letter-spacing: 0.2em;

  color: #aaaaaa;
}
