.lead__subtitle {
  margin: auto;
  padding: 0 0 62px;
  max-width: 640px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;

  color: #ffffff;
  text-align: center;
  align-content: center;
}
@media (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;

    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;

    font-size: 16px;
    line-height: 20px;
  }
}
