.place__website {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0px;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .place__website {
    width: 352px;

    margin-top: 46px;
  }
}
@media (max-width: 320px) {
  .place__website {
    width: 288px;

    margin: 32px 16px;
  }
}
